.card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #424242;
  width: 80%;
  flex-wrap: wrap;
  }
  
  a {
    margin: 0;
    padding: 0;
    width: fit-content;
  }
  .description {
    width: 70%;
    flex-wrap: wrap;
  }
  
  .gameImg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .gameImg img {
    margin-right: 1rem;
    width: 20rem;
    height: auto;
  }
  
  .toggel {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .price {
    width: 20%;
  }
  
  .price p {
    margin-right: 0.5rem;
  }
  
  .premièreBtn {
    background-color: #02733E;
    border: none;
    color: #E4E4E4;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    transition: 0.5s;
    margin-right: 1rem;
    }
    
    .tertaireBtn {
    background-color: transparent;
    border: none;
    color: #E4E4E4;
    transition: 0.5s;
    }
  
    .premièreBtn:active {
      transform: translateY(4px);
      padding: 0.8rem 2.3rem
  }