body {


}

.box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88vh;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 4rem;
  margin: 0;
  color: #97413c;
}

.description {
  color: #97413c;
}